<div class="container">
    <div class="row">
        <div class="col-lg-12">

            <h2>About Us:</h2><br />

            <h2>We embrace leisurely paced river paddling</h2>

            <p> UpNorth Paddlers is an organization dedicated to leisurely paced river paddling,
                with an emphasis on enjoying the great outdoors. Individual and family participation is encouraged.
                We offer both quiet and whitewater trips. We ask for a $3 contribution per boat per trip,
                or $10 year, to cover the costs of this website and to keep the River Ramblers organization functioning.</p>

            <h2>Explore the trip descriptions </h2>
            <p>Come join the UpNorth Paddlers on this 2016 paddling season, and see for yourself how fun and relaxing it can
                be to enjoy the beautiful rivers and creeks that surround us. The best way to find out if this is for you,
                is to join the UpNorth Paddlers on one or more trips.</p>

            <p>Check out the Trip Summaries to see if any of the trips sound interesting to you. Trip packets can be obtained from
                the trip leaders for any trip, and they give the basics of what will be necessary to enjoyably participate on that
                trip, including meeting time and location. If you like to paddle with us, just be at the meeting place with the
                correct gear at the designated time, ready to have a really good time. Hopefully we will see you on at least one
                of the rivers or creeks enjoying nature soon.</p>

            <h2>Car shuttles and trip leaders</h2>

            <p>River Rambler trip leaders send out the trip packets and arrange the car shuttles. Shuttles involve moving the paddler's
                cars to the take out or put in, depending on the river. The trip leader is a volunteer who has paddled the trip before
                and usually has lead it for many years. They are leading trips that they themselves are going on to have fun.
                You will find on these trips other people who truly share an appreciation for nature, enjoyable exercise, fresh air, and adventure.</p>

            <p>You are responsible for your own safety. Trip ratings designate the level of experience required to paddle a trip. In some cases trip
                leaders may request your confirmation that you have the skills required to ensure the trip is safe and enjoyable for everyone.
                If you are unsure of your skills, ask the trip leader for recommendations on if the trip is right for you.</p>

        </div>
    </div>
</div>