<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 style="text-decoration: underline">2016 Trip Calendar</h2>
        </div>
    </div>
</div>

<div class="superDiv">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
                <h2>April</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row month">
            <div class="col-md-7 calMonthCol">

                <table class="table table-bordered">
                    <tr>
                        <th> M </th><th> T </th><th> W </th><th> Th </th><th> F </th><th> Sat </th><th> Sun </th>
                    </tr>
                    <tr>
                        <td></td><td></td><td></td><td></td>
                        <td><span class="calDate"> 1</span><br></td>
                        <td><span class="calDate"> 2</span><br><a href="rivers/#rice">Rice Creek</a>  </td>
                        <td><span class="calDate"> 3</span><br></td>
                    </tr>
                    <tr>
                        <td><span class="calDate"> 4</span><br></td>
                        <td><span class="calDate"> 5</span><br></td>
                        <td><span class="calDate"> 6</span><br></td>
                        <td><span class="calDate"> 7</span><br></td>
                        <td><span class="calDate"> 8</span><br></td>
                        <td><span class="calDate"> 9</span><br><a href="rivers/#snake">Snake River</a></td>
                        <td><span class="calDate">10</span><br></td>
                    </tr>
                    <tr>
                        <td><span class="calDate">11</span><br></td>
                        <td><span class="calDate">12</span><br></td>
                        <td><span class="calDate">13</span><br></td>
                        <td><span class="calDate">14</span><br></td>
                        <td><span class="calDate">15</span><br></td>
                        <td><span class="calDate">16</span><br><a href="rivers/#cottonwood">Cottonwood</a></td>
                        <td><span class="calDate">17</span><br></td>
                    </tr>
                    <tr>
                        <td><span class="calDate">18</span><br></td>
                        <td><span class="calDate">19</span><br></td>
                        <td><span class="calDate">20</span><br></td>
                        <td><span class="calDate">21</span><br></td>
                        <td><span class="calDate">22</span><br></td>
                        <td><span class="calDate"> 23</span><br><a href="rivers/#kinni">Kinnickinic</a></td>
                        <td><span class="calDate">24</span><br></td>
                    </tr>
                    <tr>
                        <td><span class="calDate">25</span><br></td>
                        <td><span class="calDate">26</span><br></td>
                        <td><span class="calDate">27</span><br></td>
                        <td><span class="calDate">28</span><br></td>
                        <td><span class="calDate">29</span><br></td>
                        <td><span class="calDate"> 30</span><br><a href="rivers/#straight">Straight</a></td>
                        <td><span class="calDate"> 1</span><br></td>
                    </tr>
                </table>
            </div> <!-- calMonthCol -->
            <div class="col-md-5 calPicCol">
                <img src="../images/joeEdithUnderBridge2.jpg" class="pic image-responsive">
            </div>
        </div> <!-- row month -->
    </div> <!-- container -->


    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
                <h2>May</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row month">
            <div class="col-md-7 calMonthCol">

                <table class="table table-bordered">
                    <tr>
                        <th> M </th><th> T </th><th> W </th><th> Th </th><th> F </th><th> Sat </th><th> Sun </th>
                    </tr>
                    <tr>
                        <td><span class="calDate"> 2</span><br></td>
                        <td><span class="calDate"> 3</span><br></td>
                        <td><span class="calDate"> 4</span><br></td>
                        <td><span class="calDate"> 5</span><br></td>
                        <td><span class="calDate"> 6</span><br></td>
                        <td><span class="calDate"> 7</span><br><a href="rivers/#namCable">Namekagon-Cable</a></td>
                        <td><span class="calDate"> 8</span><br><a href="rivers/#namCable">Namekagon-Cable</a></td>
                    </tr>
                    <tr>
                        <td><span class="calDate"> 9</span><br></td>
                        <td><span class="calDate">10</span><br></td>
                        <td><span class="calDate">11</span><br></td>
                        <td><span class="calDate">12</span><br></td>
                        <td><span class="calDate">13</span><br></td>
                        <td><span class="calDate">14</span><br><a href="rivers/#lowerRum">Lower Rum</a></td>
                        <td><span class="calDate">15</span><br></td>
                    </tr>
                    <tr>
                        <td><span class="calDate">16</span><br></td>
                        <td><span class="calDate">17</span><br></td>
                        <td><span class="calDate">18</span><br></td>
                        <td><span class="calDate">19</span><br></td>
                        <td><span class="calDate">20</span><br></td>
                        <td><span class="calDate">21</span><br><a href="rivers/#miss">Mississipi</a></td>
                        <td><span class="calDate">11</span><br></td>
                    </tr>
                    <tr>
                        <td><span class="calDate">23</span><br></td>
                        <td><span class="calDate">24</span><br></td>
                        <td><span class="calDate">25</span><br></td>
                        <td><span class="calDate">26</span><br></td>
                        <td><span class="calDate">27</span><br></td>
                        <td><span class="calDate">28</span><br><a href="rivers/#blue">Blue earth</a></td>
                        <td><span class="calDate">29</span><br></td>
                    </tr>
                    <tr>
                        <td><span class="calDate">30</span><br></td>
                        <td><span class="calDate">31</span><br></td>
                        <td></td><td></td><td></td><td></td><td></td>
                    </tr>
                </table>
            </div> <!-- calMonthCol -->
            <div class="col-md-5 calPicCol">
                <img src="../images/Jerome3.jpg" width="272px" class="pic">
            </div>
        </div> <!-- row month -->
    </div> <!-- container -->

    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
                <h2>June</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row month">
            <div class="col-md-7 calMonthCol">

                <table class="table table-bordered">
                    <tr>
                        <th> M </th><th> Tu </th><th> W </th><th> Th </th><th> F </th><th> Sat </th><th> Sun </th>
                    </tr>
                    <tr>
                        <td></td><td></td>
                        <td><span class="calDate"> 1</span><br></td>
                        <td><span class="calDate"> 2</span><br></td>
                        <td><span class="calDate"> 3</span><br></td>
                        <td><span class="calDate"> 4</span><br><a href="rivers/#zumbro">Zumbro</a></td>
                        <td><span class="calDate"> 5</span><br><a href="rivers/#zumbro">Zumbro</a></td>
                    </tr>
                    <tr>
                        <td><span class="calDate"> 6</span><br></td>
                        <td><span class="calDate"> 7</span><br></td>
                        <td><span class="calDate"> 8</span><br></td>
                        <td><span class="calDate"> 9</span><br></td>
                        <td><span class="calDate">10</span><br></td>
                        <td><span class="calDate">11</span><br><a href="rivers/#upcroix">Upper St. Croix</a></td>
                        <td><span class="calDate">12</span><br><a href="rivers/#upcroix">Upper St. Croix</a></td>
                    </tr>
                    <tr>
                        <td><span class="calDate">13</span><br></td>
                        <td><span class="calDate">14</span><br></td>
                        <td><span class="calDate">15</span><br></td>
                        <td><span class="calDate">16</span><br></td>
                        <td><span class="calDate">17</span><br><a href="rivers/#kick">Kickapoo</a></td>
                        <td><span class="calDate">18</span><br><a href="rivers/#kick">Kickapoo</a></td>
                        <td><span class="calDate">19</span><br><a href="rivers/#kick">Kickapoo</a></td>
                    </tr>
                    <tr>
                        <td><span class="calDate">20</span><br></td>
                        <td><span class="calDate">21</span><br></td>
                        <td><span class="calDate">22</span><br></td>
                        <td><span class="calDate">23</span><br></td>
                        <td><span class="calDate">24</span><br></td>
                        <td><span class="calDate">25</span><br><a href="rivers/#brule">Bois Brule</a></td>
                        <td><span class="calDate">26</span><br><a href="rivers/#brule">Bois Brule</a></td>
                    </tr>
                    <tr>
                        <td><span class="calDate">27</span><br></td>
                        <td><span class="calDate">28</span><br></td>
                        <td><span class="calDate">29</span><br></td>
                        <td><span class="calDate">30</span><br></td>
                        <td></td><td></td><td></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-5 calPicCol">
                <img src="../images/Namekagon2.jpg" width="272"px class="pic">
            </div>
        </div> <!-- row month -->
    </div> <!-- container -->


    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
                <h2>July</h2>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row month">
            <div class="col-md-7 calMonthCol">
                <table class="table table-bordered">
                    <tr>
                        <th> M </th><th> Tu </th><th> W </th><th> Th </th><th> F </th><th> Sat </th><th> Sun </th>
                    </tr>
                    <tr>
                        <td></td><td></td><td></td><td></td>
                        <td><span class="calDate"> 1</span><br></td>
                        <td><span class="calDate"> 2</span><br><a href="rivers/#crow">Crow</a></td>
                        <td><span class="calDate"> 3</span><br></td>
                    </tr>
                    <tr>
                        <td><span class="calDate"> 4</span><br></td>
                        <td><span class="calDate"> 5</span><br></td>
                        <td><span class="calDate"> 6</span><br></td>
                        <td><span class="calDate"> 7</span><br></td>
                        <td><span class="calDate"> 8</span><br></td>
                        <td><span class="calDate"> 9</span><br><a href="rivers/#uprum">Upper Rum</a></td>
                        <td><span class="calDate">10</span><br></td>
                    </tr>
                    <tr>
                        <td><span class="calDate">11</span><br></td>
                        <td><span class="calDate">12</span><br></td>
                        <td><span class="calDate">13</span><br></td>
                        <td><span class="calDate">14</span><br></td>
                        <td><span class="calDate">15</span><br></td>
                        <td><span class="calDate">16</span><br><a href="rivers/#lnam">Lower Namekagon</a></td>
                        <td><span class="calDate">17</span><br><a href="rivers/#lnam">lower Namekagon</a></td>
                    </tr>
                    <tr>
                        <td><span class="calDate">18</span><br></td>
                        <td><span class="calDate">19</span><br></td>
                        <td><span class="calDate">20</span><br></td>
                        <td><span class="calDate">21</span><br></td>
                        <td><span class="calDate">22</span><br></td>
                        <td><span class="calDate">23</span><br><a href="rivers/#chip">Upper Chippewa</a></td>
                        <td><span class="calDate">24</span><br></td>
                    </tr>
                    <tr>
                        <td><span class="calDate">25</span><br></td>
                        <td><span class="calDate">26</span><br></td>
                        <td><span class="calDate">27</span><br></td>
                        <td><span class="calDate">28</span><br></td>
                        <td><span class="calDate">29</span><br></td>
                        <td><span class="calDate">30</span><br><a href="rivers/#rumcam">Rum at Cambridge</a></td>
                        <td><span class="calDate">31</span><br></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-5 calPicCol">
                <img src="../images/KathyLotusFlowers2015.jpg" width="272"px class="pic">
            </div>
        </div> <!-- row month -->
    </div> <!-- container -->


    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
                <h2>August</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row month">
            <div class="col-md-7 calMonthCol">

                <table class="table table-bordered">
                    <tr>
                        <th> M </th><th> T </th><th> W </th><th> Th </th><th> F </th><th> Sat </th><th> Sun </th>
                    </tr>
                    <tr>
                        <td><span class="calDate"> 1</span><br></td>
                        <td><span class="calDate"> 2</span><br></td>
                        <td><span class="calDate"> 3</span><br></td>
                        <td><span class="calDate"> 4</span><br></td>
                        <td><span class="calDate"> 5</span><br></td>
                        <td><span class="calDate"> 6</span><br><a href="rivers/#redced">Red Cedar</a></td>
                        <td><span class="calDate"> 7</span><br></td>
                    </tr>
                    <tr>
                        <td><span class="calDate"> 8</span><br></td>
                        <td><span class="calDate"> 9</span><br></td>
                        <td><span class="calDate">10</span><br></td>
                        <td><span class="calDate">11</span><br></td>
                        <td><span class="calDate">12</span><br></td>
                        <td><span class="calDate">13</span><br><a href="rivers/#upnam">Upper Namekagon</a></td>
                        <td><span class="calDate">14</span><br><a href="rivers/#upnam">Upper Namekagon</a></td>
                    </tr>
                    <tr>
                        <td><span class="calDate">15</span><br></td>
                        <td><span class="calDate">16</span><br></td>
                        <td><span class="calDate">17</span><br></td>
                        <td><span class="calDate">18</span><br></td>
                        <td><span class="calDate">19</span><br></td>
                        <td><span class="calDate">20</span><br><a href="rivers/#uproot">Upper Root</a></td>
                        <td><span class="calDate">21</span><br></td>
                    </tr>
                    <tr>
                        <td><span class="calDate">22</span><br></td>
                        <td><span class="calDate">23</span><br></td>
                        <td><span class="calDate">24</span><br></td>
                        <td><span class="calDate">25</span><br></td>
                        <td><span class="calDate">26</span><br></td>
                        <td><span class="calDate">27</span><br><a href="rivers/#minnejordan">Minnesota</a></td>
                        <td><span class="calDate">28</span><br></td>
                    </tr>
                    <tr>
                        <td><span class="calDate">29</span><br></td>
                        <td><span class="calDate">30</span><br></td>
                        <td><span class="calDate">31</span><br></td>
                        <td></td><td></td><td></td><td></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-5 calPicCol">
                <img src="../images/LenrootLodgeCrew.jpg" width="272"px class="pic">
            </div>
        </div> <!-- row month -->
    </div> <!-- container -->


    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
                <h2>September</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row month">
            <div class="col-md-7 calMonthCol">

                <table class="table table-bordered">
                    <tr>
                        <th> M </th><th> T </th><th> W </th><th> Th </th><th> F </th><th> Sat </th><th> Sun </th>
                    </tr>
                    <tr>
                        <td>  </td><td>  </td><td>  </td>
                        <td><span class="calDate"> 1</span><br></td>
                        <td><span class="calDate"> 2</span><br></td>
                        <td><span class="calDate"> 3</span><br><a href="rivers/#yellow">Yellow</a></td>
                        <td><span class="calDate"> 4</span><br></td>
                    </tr>
                    <tr>
                        <td><span class="calDate"> 5</span><br></td>
                        <td><span class="calDate"> 6</span><br></td>
                        <td><span class="calDate"> 7</span><br></td>
                        <td><span class="calDate"> 8</span><br></td>
                        <td><span class="calDate"> 9</span><br></td>
                        <td><span class="calDate">10</span><br><a href="rivers/#apple">Apple</a></td>
                        <td><span class="calDate">11</span><br></td>
                    </tr>
                    <tr>
                        <td><span class="calDate">12</span><br></td>
                        <td><span class="calDate">13</span><br></td>
                        <td><span class="calDate">14</span><br></td>
                        <td><span class="calDate">15</span><br></td>
                        <td><span class="calDate">16</span><br></td>
                        <td><span class="calDate">17</span><br><a href="rivers/#lcannon">Lower Cannon</a></td>
                        <td><span class="calDate">18</span><br></td>
                    </tr>
                    <tr>
                        <td><span class="calDate">19</span><br></td>
                        <td><span class="calDate">20</span><br></td>
                        <td><span class="calDate">21</span><br></td>
                        <td><span class="calDate">22</span><br></td>
                        <td><span class="calDate">23</span><br></td>
                        <td><span class="calDate">24</span><br><a href="rivers/#lstcroix">Lower St. Croix</a></td>
                        <td><span class="calDate">25</span><br></td>
                    </tr>
                    <tr>
                        <td><span class="calDate">26</span><br></td>
                        <td><span class="calDate">27</span><br></td>
                        <td><span class="calDate">28</span><br></td>
                        <td><span class="calDate">29</span><br></td>
                        <td><span class="calDate">30</span><br></td>
                        <td></td><td></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-5 calPicCol">
                <img src="../images/MeOnKettle.JPG" width="272"px class="pic">
            </div>
        </div> <!-- row month -->
    </div> <!-- container -->


    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
                <h2>October</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row month">
            <div class="col-md-7 calMonthCol">

                <table class="table table-bordered">
                    <tr>
                        <th> M </th><th> T </th><th> W </th><th> Th </th><th> F </th><th> Sat </th><th> Sun </th>
                    </tr>
                    <tr>
                        <td>  </td><td>  </td><td>  </td><td>  </td><td>  </td>
                        <td><span class="calDate"> 1</span><br><a ng-href="rivers/#zumbromill">Zumbro-Millville</a></td>
                        <td><span class="calDate"> 2</span><br></td>
                    </tr>
                    <tr>
                        <td><span class="calDate"> 3</span><br></td>
                        <td><span class="calDate"> 4</span><br></td>
                        <td><span class="calDate"> 5</span><br></td>
                        <td><span class="calDate"> 6</span><br></td>
                        <td><span class="calDate"> 7</span><br></td>
                        <td><span class="calDate"> 8</span><br></td>
                        <td><span class="calDate"> 9</span><br></td>
                    </tr>
                    <tr>
                        <td><span class="calDate">10</span><br></td>
                        <td><span class="calDate">11</span><br></td>
                        <td><span class="calDate">12</span><br></td>
                        <td><span class="calDate">13</span><br></td>
                        <td><span class="calDate">14</span><br></td>
                        <td><span class="calDate">15</span><br></td>
                        <td><span class="calDate">16</span><br></td>
                    </tr>
                    <tr>
                        <td><span class="calDate">17</span><br></td>
                        <td><span class="calDate">18</span><br></td>
                        <td><span class="calDate">19</span><br></td>
                        <td><span class="calDate">20</span><br></td>
                        <td><span class="calDate">21</span><br></td>
                        <td><span class="calDate">22</span><br></td>
                        <td><span class="calDate">23</span><br></td>
                    </tr>
                    <tr>
                        <td><span class="calDate">24</span><br></td>
                        <td><span class="calDate">25</span><br></td>
                        <td><span class="calDate">26</span><br></td>
                        <td><span class="calDate">27</span><br></td>
                        <td><span class="calDate">28</span><br></td>
                        <td><span class="calDate">29</span><br></td>
                        <td><span class="calDate">30</span><br></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-5 calPicCol">
                <img src="../images/1stNightCampsite.JPG" width="272"px class="pic">
            </div>
        </div> <!-- row month -->
    </div> <!-- container -->

    <br>
    <br>

    <!--div class="calPics">
        <img src="../images/JeromeGearedUp2.jpg" width="272"px class="pic">
        <img src="../images/Namekagon.jpg" width="272"px class="pic">
        <img src="../images/BarbPattGlenDougStCroix.jpg" width="272"px class="pic">
        <img src="../images/KathyLotusFlowers2015.jpg" width="272"px class="pic">
        <img src="../images/LenrootLodgeCrew.jpg" width="272"px class="pic">
        <img src="../images/KellyBarbPaddleCedar.jpg" width="272"px class="pic">
        <img src="../images/MeOnKettle.JPG" width="272"px class="pic">
        <img src="../images/1stNightCampsite.JPG" width="272"px class="pic">
    </div-->

</div> <!-- superDiv -->