
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>Please Log In or Register</h2>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ul>
                <li class="logRegList"><a href="/login">    Log In    </a></li> - if you have already registered.
                <li class="logRegList"><a href="/register"> Register </a></li> - if you are are new to UpNorth Paddlers and would like to paddle with us.
            </ul>
        </div>
    </div>
</div>
