<div class="container">

    <div class="row">
        <div class="text-center">
            <h2>New Registration</h2>
        </div>
    </div>
    <br>


    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">

            <form ng-submit="register()">

            <div class="form-group">
                <label for="username" class="control-label">Username</label>
                <input type="text" class="form-control" ng-model= "username" name="username" id="username"/>
            </div>

            <div class="form-group">
                <label for="password" class="control-label">Password</label>
                <input type="text" class="form-control" ng-model="password" name="password" id="password"/>

            </div>

            <div>
                <input type="submit" value="Register"/>
            </div>
        </form>
        </div>
    </div>

</div>
